*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #f0e2c5;
}
/*  header section */
header {
    border: 1px solid black;
    text-align: center;
    padding: 30px 0;
    background-image: url("Images/blur-coffee-cafe-shop-restaurant-with-bokeh-background-xd_1421-472.avif");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover,inherit;
    height: auto; /* Allows the height to adjust based on content */
}
header h1{
    font-family: "Playfair Display SC",serif;
    /*color: #c09b6f;*/
    /*color: #FFF0D1;*/
    color: #fffDD0;
    font-size: 3rem;
}
header p{
    font-family: "Lato", serif;
    font-size: 1.1rem;
    margin: 20px 0;
    /* color: #a9864e; */
    /*color: #c09b6f; */
    color:  #FFF0D1;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.btn{
    display: inline-block;
    font-family: "Lato", serif;
    background-color: #49281a;
    padding: 15px 25px;
    color:#ffe8b8;
    border-radius:8px ;
    text-decoration: none;

}
/* nav section */
nav{
    /* border: 1px solid #000; */
    text-align: center;
    padding: 20px 0;
    background-color: #3d240e;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}
nav a{
    text-decoration: none;
    color: #c09b6f; 
    padding: 20px;
    /*border: 1px solid;*/
    margin-right: 10px;
    font-family: "Lato", serif;
}
nav a:hover{
    /*​border-bottom: 2px solid #A79277;*/
    border-bottom: 3px solid #c09b6f ;
}
/* our menu section*/
#our_menu{
    font-family: "Lato",serif;
    padding: 10px 0;
    color: #49281a;
}
.card{
    font-family: "Lato",serif;
    border: 2px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
.card-img-top{
    max-width: 100%;
    border-radius: 10px;
}
.card-title{
    margin: 10px 0;
}
.card{
    line-height: 1.5;
}
.price{
    font-weight: bold;
    font-style: italic;
}
.btn-order{
    width: 100%;
    height: 40px;
    background-color: #49281a;
    color:#f0e2c5;
    margin-top: 10px;
    border-radius: 50px;
}

/*about-us section*/
#about_us,#contact,#our_menu,footer{
    padding: 20px;
}
#about_us h1,#contact h1,#our_menu h1{
    font-family: "Playfair Display SC",serif;
    color: #49281a;
    font-size: 2rem;
}
#about_us p,#contact p{
    font-family: "Lato", serif;
    text-align: justify;
    padding: 10px 0;
    line-height: 1.5;
    font-size: 1.1rem;
}
/* contact us section */
form {
    padding: 20px;
    font-family: "Lato", serif;
    text-align: center;
}

form div {
    margin-bottom: 10px;
    padding: 10px 0;
}

.form-label {
    display: inline-block;
    width: 250px;
    text-align: left;
}

.form-control {
    width: 400px;
    border: none;
    outline: none;
    background-color: #f0e2c5;
    border-bottom: 2px dotted black;
}

#copy {
    font-family: "Lato", serif;
    text-align: center;
}

footer{
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 20px;
    background-color: #49281a;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
footer a{
    text-decoration: none;
    color: #f0e2c5;
}

